html {
    font-family: Helvetica, sans-serif;
    color: lightgrey;
    font-size: 16px;
}
article {
    padding: 20px 15px 15px 15px;
    background-color: rgb(51, 102, 153);
    border-radius: 1rem;
}
h1 {
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.5;
}