html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, serif;

}

div.line {
    width: 90%;
    height: 6px;
    border-bottom: 1px solid black;
    position: absolute;
}
table, td, th {
    border: 1px solid rgb(221, 221, 221);
    padding: 5px;
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    background-color: rgb(221, 221, 221);
    text-align: left;
}
table tr{
    font-size: 25px
}
td, th {
    width: 400px;
}
table tr:nth-child(even) {
    background: #f9f9f9;
}
table tr:nth-child(odd) td {
    background: rgb(241, 241, 241)
}
table tr:hover td {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

blockquote {
    border-left: 1px  solid gray;
    font-style: italic;
    padding-left: 15px;
}