html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
.container {
    border-radius: 25px;
    padding: 25px;
    background-color: darkgray;
}
form {
    display: block;
    font-size: 45px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
label {
    display: inline-block;
    max-width: 250px;
    width: 100%;
}

input[type=text], select, textarea {
    display: inline-block;
    font-size: 40px;
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

/*@media screen and (max-width: 600px) {*/
/*    input[type=text], select, textarea, fieldset {*/
/*        text-align: left;*/
/*    }*/
/*}*/